@import 'tailwindcss';

body {
	background-color: #eee;
	overflow-x: clip;
}

@theme {
	--font-roboto: 'Roboto', sans-serif;
	--font-robotomono: 'Roboto Mono', sans-serif;
	--font-golos: 'Golos Text', sans-serif;
	--font-inter: 'Inter', sans-serif;

	--shadow-item: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	--shadow-btn: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	--color-contrast: #d14e15;

	--color-middle-grey: #797c85;
	--color-checkbox-dot: var(--color-contrast);
}
